@font-face {
    font-family: Montserrat;
    src: url(/public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.news-block_background {
    background: linear-gradient(135deg, #fff 0%, #4475ff 100%);
    padding: 4%;
    border-radius: 30px;
    margin: 2% 0%;
}

.news-block_profile__background {
    background: linear-gradient(135deg, #fff 0%, #a0b9ff 100%);
    width: 75px;
    height: 75px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-block_profile__background img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    box-shadow: -5px -5px 7px 0 rgba(255, 255, 255, 0.4), 5px 5px 7px 0 rgba(68, 117, 255, 0.25);
    object-fit: cover;
}

.new-block_top__user h6 {
    color: black;
    font-size: 20px;
}

.new-block_top__user p {
    color: black;
    font-size: 12px;
    margin: 0% !important;
}

.news-block_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    justify-content: space-between;
}

.news-block_banner {
    width: 100%;
    margin: 3% 0% 1% 0%;
    object-fit: cover;
    height: 300px;
}

.new-block_text {
    color: black;
    font-weight: 500 !important;
    margin: 0% !important;
    font-size: 18px !important;
}

.new-block_text__large {
    color: black;
    font-weight: 500 !important;
    margin: 0% !important;
    font-size: 18px !important;
    margin: 2% 0% 2% 0% !important;
}

.new-block_buttons button {
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: 0.1s;
    font-family: Montserrat;
}

.new-block_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    margin: 2% 0%;
}

.new-block_buttons button:hover {
    transform: scale(1.1);
}

.news-block_bottom {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 2%;
    margin-top: 4%;
}

.news-block_bottom img {
    box-shadow: 5px 5px 7px 0 rgba(68, 117, 255, 0.25), -5px -5px 18px -8px rgba(255, 255, 255, 0.25);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px white;
}

.comment-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: solid 1px white;
    border-radius: 10px;
    padding: 2%;
    box-sizing: border-box;
    align-items: center;
    height: 40px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 93.9%);
}

.comment-block_error {
    border: solid 2px #F23F42 !important;
    animation: shaking 1s ease-in-out;
}

@keyframes shaking {
    0% {
      margin-left: -2%;
      margin-right: 2%;
    }
    20% {
      margin-left: 2%;
      margin-right: -2%;
    }
    40% {
      margin-left: -2%;
      margin-right: 2%;
    }
    60% {
      margin-left: 2%;
      margin-right: -2%;
    }
    80% {
      margin-left: -2%;
      margin-right: 2%;
    }
    100% {
      margin-left: 0%;
      margin-right: 0%;
    }
  }

.comment-block input {
    border: none;
    background: none;
    height: min-content;
    color: #0060F0;
    width: 80%;
    font-family: Montserrat;
}

.comment-block input::placeholder {
    color: #0060F0;
    font-weight: 500;
    font-family: Montserrat;
}

.comment-block input:focus {
    outline: none;
}

.comment-block button {
    background: linear-gradient(135deg, #4992ff 0%, #0060f0 100%);
    border: none;
    width: 30px;
    height: 30px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 7px 0 rgba(68, 117, 255, 0.25), -5px -5px 18px -8px rgba(255, 255, 255, 0.25);
    cursor: pointer;
    transition: 0.1s;
    font-family: Montserrat;
}

.comment-block button:hover {
    transform: scale(1.1);
}

.comment-block button img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0 !important;
}

.comment {
    margin-top: 4%;
    box-sizing: border-box !important;
}

.comments_count {
    color: #0060F0;
    font-weight: 600 !important;
    font-size: 16px !important;
    margin: 0% !important;
    display: flex;
    width: min-content !important;
}

.delete-button {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    width: 20px !important;
    height: 20px !important;
    cursor: pointer !important;
}

.delete-button_image {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    width: 100% !important;
    height: 100% !important;
}

.delete-button:hover {
    transform: scale(1.1);
}

.news-block_user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    width: 60%;
}

@media screen and (min-width: 1900px) {
    .new-block_top__user h6 {
        font-size: 27px;
    }

    .new-block_buttons {
        gap: 2%;
    }
}