@font-face {
    font-family: Montserrat;
    src: url(../../../../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.profile_background {
    z-index: 10;
    margin-left: 10vw;
    margin-right: calc(10vw + 300px);
    padding: 4%;
    border: solid 1px white;
    backdrop-filter: blur(30px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.08) 0%, rgba(83, 96, 221, 0.08) 100%);
    border-radius: 26px;
    height: max-content;
    display: flex;
    flex-direction: column;
    font-weight: Montserrat;
    width: 100vw;
}

.profile_info-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

.profile_picture {
    width: 175px;
    height: 175px;
    border-radius: 36px;
    object-fit: cover;
    float: left;
}

.username {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 12px;
}

.username h2 {
    font-size: 32px;
}

.username button {
    background: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
}

.username button:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 1px 0 rgba(28, 65, 176, 0.1), 0 2px 2px 0 rgba(28, 65, 176, 0.09), 0 6px 3px 0 rgba(28, 65, 176, 0.05), 0 10px 4px 0 rgba(28, 65, 176, 0.01), 1px 15px 4px 0 rgba(28, 65, 176, 0);
}

.profile_info-block_text-section p {
    font-size: 14px;
    font-weight: 400;
    font-family: Montserrat;
    margin-top: 2%;
}

.button-section {
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.add-button {
    background: linear-gradient(135deg, #4992ff 0%, #0060f0 100%);
    border-radius: 14px;
    padding: 15px 6%;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    font-family: Montserrat;
    min-width: 200px;
}

.add-button:hover {
    background: linear-gradient(135deg, #89B8FF 0%, #0060f0 100%);
    transform: scale(1.05);
}

.message-button {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 93.9%);
    border-radius: 14px;
    padding: 3% 6%;
    font-size: 14px;
    font-weight: 600;
    color: #0060F0;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    font-family: Montserrat;
}

.message-button:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(184, 204, 255, 0.9) 100%);
    transform: scale(1.05);
}

.news-list_block {
    z-index: 10;
    position: relative;
    backdrop-filter: blur(30px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.08) 0%, rgba(83, 96, 221, 0.08) 100%);
    border-radius: 26px;
    padding: 6% 6%;
    border: solid 1px white;
    height: max-content;
    box-sizing: border-box;
    width: 50vw;
    margin-top: 8%;
}

.news-list_block h1 {
    font-size: 38px;
    margin: 0%;
}

.news-list_block p {
    font-weight: 300;
    width: 70%;
    font-size: 14px;
    margin: 1% 0% 4% 0%;
}

.news-list_input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: -5px -5px 18px -8px rgba(68, 117, 255, 0.25), 5px 5px 18px -8px rgba(255, 255, 255, 0.25);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(124, 153, 255, 0.3) 93.9%);
    padding: 1%;
    border-radius: 16px;
    border: solid 1px white;
}

.news-list_input input {
    width: 70%;
    background: none;
    border: none;
    color: white;
    font-weight: 400;
    margin-left: 2%;
    font-size: 13px;
    font-family: Montserrat;
}

.news-list_input input:focus {
    outline: none;
}

.news-list_input input::placeholder {
    color: white;
    font-weight: 400;
    font-size: 13px;
    font-family: Montserrat;
}

.news-list_input button {
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: Montserrat;
}

.news-list_input__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 8%;
    width: 30%;
    font-family: Montserrat;
}

.news-list_input__buttons .first-button {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9) 0%, rgba(170, 193, 255, 0.9)100%);
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.1s;
    font-family: Montserrat;
}

.news-list_input__buttons .first-button::before {
    content: '';
    background: url(../../../../public/images/news-images/image-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 15px;
    position: absolute;
    cursor: pointer !important;
}

.news-list_input__buttons .first-button:hover {
    transform: scale(1.1);
    border-radius: 9px;
}

.news-list_input__buttons .second-button {
    height: 30px;
    padding: 0% 4%;
    font-weight: 500;
    color: white;
    box-shadow: 5px 5px 7px 0 rgba(68, 117, 255, 0.25), -5px -5px 18px -8px rgba(255, 255, 255, 0.25);
    background: linear-gradient(135deg, #4992ff 0%, #0060f0 100%);
    cursor: pointer;
    transition: 0.1s;
    font-family: Montserrat;
}

.news-list_input__buttons .second-button:hover {
    transform: scale(1.05);
    border-radius: 9px;
}

.news-list_file-input {
    color: rgba(0, 0, 0, 0) !important;
    opacity: 0;
    cursor: pointer !important;
    width: 30px !important;
    height: 30px !important;
}

.error-input {
    border: solid 2px #F23F42 !important;
    position: relative;
    font-family: Montserrat;
}

.error-text {
    color: #F23F42;
    font-size: 12px;
    font-weight: 600 !important;
}

.news-block_list {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    gap: 8% !important;
}

.about-me {
    margin-top: 6%;
}

.online-status {
    font-size: 16px !important;
}

@media screen and (min-width: 1900px) {
    .username h2 {
        font-size: 40px;
    }

    .profile_info-block_text-section p {
        font-size: 18px;
    }

    .news-list_block h1 {
        font-size: 44px;
    }

    .news-list_block p {
        font-size: 18px;
    }
}